
  @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Courgette&display=swap');


.calendar {
    max-width: 300px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 58px;
    
  }
  .font1{
    font-family: 'Cinzel', serif;
font-family: 'Courgette', cursive;
font-size: 20px;
font-weight: bold;
  }
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 10px;
    bottom: 13px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  
  