
  @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Courgette&display=swap');


.calendar {
    max-width: 300px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  .container88{
    display: flex;
  }
  .container89{
    display: flex;
    flex-direction: column;
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 58px;
    
  }
  .font1{
    font-family: 'Cinzel', serif;
font-family: 'Courgette', cursive;
font-size: 20px;
font-weight: bold;
  }
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 10px;
    bottom: 13px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  @media (max-width: 768px) {
    .container88 {
        flex-direction: column;
    }
}

  /*tabs */

  .season_tabs {
    position: relative;   
    min-height: 360px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .season_tab {
    float: left;  
    clear: both;
    width: 286px;
  }
  .divItem {
      background: #eee;
      padding: 10px;
      border: 1px solid #ccc;
      margin-left: -1px;
      font-size: 21px;
      vertical-align: middle;
      position: relative;
      left: 1px;
      width: 264px;
      height: 68px;
      display: table-cell;
      cursor: pointer;
      transition: box-shadow 0.3s ease, background-color 0.3s ease;
  }

  .divItem.active {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Add your bulging effect here */
    background-color: rgb(136, 191, 210); /* Add your highlighting effect here */
  }
  .season_tab [type=radio] {
    display: none;   
  }
  .season_content {
    position: absolute;
    top: 0;
    left: 286px;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
   }
  .season_content span {
    animation: 0.5s ease-out 0s 1 slideInFromTop; 
  }
  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 2px solid #8bc34a;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .season_content {
    z-index: 1;
  }
  
  